// $x: 30px;
// $y: 30px;
// $bordRadius: 100px;
// $border: solid;
// $colorRing: black;
// $margLeft: -20px;
// $margTop: -5px;
// $borderWidthRings: 1px;
// $shadow: 0 0 2em black;

// .Rings{
//   display: flex;
//   justify-content: center;
// }


// @mixin RingsMixin ($x, $y, $bordRadius, $border, $borderWidthRings, $colorRing, $shadow, $margLeft, $margTop) {
//     width : $x ;
//     height : $y ;   
//     border-radius: $bordRadius;
//     border: $border;
//     border-width: $borderWidthRings;
//     color: $colorRing;
//     box-shadow: $shadow;
//     margin-left: $margLeft;
//     margin-top: $margTop;
// }

.item1RecentlyPublished {
    display: grid;
    grid-template-columns: 35% 15% 15% 15%;
    grid-template-rows: 15vh 15vh;
    grid-template-areas: "published1 published2 published3"
"published1 published4 published5";
    grid-auto-flow: row; 
    padding-left: 3%;
}

.latestPublishedVideo1  {
    grid-area: published1;
    margin-right: 2%;
        img {
            height: 100%;
            width: 100%;
        }
}

.latestPublishedVideo2  {
    grid-area: published2;
    padding-bottom: 1%;
    img {
        height: 100%;
        width: 100%;
    }

}

.latestPublishedVideo3  {
    grid-area: published3;
    padding-bottom: 1%;
    img {
        height: 100%;
        width: 100%;
    }
    
}

.latestPublishedVideo4  {
    grid-area: published4;
    padding-top: 1%;
    img {
        height: 100%;
        width: 100%;
    }
    
}

.latestPublishedVideo5  {
    grid-area: published5;
    padding-top: 1%;
    img {
        height: 100%;
        width: 100%;
    }
    
}
