.container_info{
    /* margin-top: 3%; */
    background-color:#313F4F;
    width: 75%;
    box-shadow: 5px 5px 5px lightgray;
    
    /* padding-top: 1%; */
}

.container_detailled{
    width:90%;
    margin: 0 auto;
    
}

.container_trip{
    width: 90%;
    background-color: white;
    color: #313F4F;
}

.border{
    border-bottom:2px solid #313F4F;
}

.weather, .step{
    padding-bottom: 2%;
}

