@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
       
   }

.container_travel{
    /* margin-top: 3%; */
    background-color:#313F4F;
    width: 75%;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif;
}

.travel{
    width:90%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.countryName1{
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-right: 3%;
    
}

.month1 {
    
    font-size: 20px;
    }

.year1{
    font-size: 20px;
    /* margin-right: 1%; */
    
}

.duration{
    font-size: 16px;
    font-weight: normal;
}

.accomodation{
    color: white;

}

.travelAlone, .currency{
    margin-right: 3%;
}

.house, .mug{
    margin-left: 3%;
    margin-right: 2%;

}

.budget{
    font-size: 12px;
}

/* .container_travel img{
    width:30px;
} */