@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}     

.container_post{
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
    margin-top: 2%;
    width:100%;
    
}

.myComment{
    margin-left: 5%;

}

.userComment{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #F4F4F4;
    border-bottom: 2px solid gray;
    font: 16px Arial, Helvetica, sans-serif;
    /* font-size: 15px; */
}

.pictureuser{
    margin-right: 1%;
}

textarea{
    resize: none;
}

.input-name{
    margin-bottom: 3%;
    width: 25%;
   
    border:none;
    padding:1%;
    border-bottom: 2px solid #59cce0;
    background-color: #F4F4F4;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	background: transparent;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.btn{
    background-color: white;
    width: 150px;
    text-align: center;
    color:#59cce0;
    font-size: 15px;
    padding:1%;
    /* font-weight: 500; */
    border: 1px solid #59cce0;
    margin-top: 2%;

}