@font-face {
    font-family: "Lora";
    src: url("../../fonts/Lora/Lora-Regular.ttf");
    font-weight: normal;
    font-style: normal;

}

.container_get{
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    width:45%;
    padding-bottom: 2%;
    border-bottom: 2px solid lightgray;
    padding-top: 1%;
    
    
}

.comment{
    display: flex;
    justify-content: space-between;
    color: #525252;
} 



.editcomment{
    width:22px;
    height:22px;
    background-image: none;
}

.editcomment:hover{
    background-image: url("https://image.noelshack.com/fichiers/2019/26/2/1561451530-edit.png");

}

.editcom {
    display: none;
} 

.editcom:hover{
    width:100%;
}


.container_date{
    margin-bottom: 2%;
}

.comment_date{
    color: #525252;
    font-size:14px;
}

.author{
    font-size: 19px;
    font-weight: 500;
}

.display_com{
    padding-left: 9%;
    
}