$colorbackground: #2C404D;
$colorBackgroundModal: #45adcd;


.modalPasseword {
    display: none;
}

.modalPasseword--is-open {
    display: block;
    border: 1px inset $colorBackgroundModal;
    box-shadow: 0px 2px 2px 2px $colorBackgroundModal;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    color: black;
    background-color: white;
}

.containerPassword {
    display: grid;
    grid-template-columns: 94% 3% 3%;
    grid-template-rows: 50px ;
    align-items: center;
    background-color: $colorBackgroundModal;

    button {
        border: none;
        margin-left: -5px;
        border-radius: 3px;
    }

    button:hover {
        background-color: $colorBackgroundModal;
        border: solid $colorBackgroundModal;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .divButtonModalPassword{
        margin-top: -25px;
    }

    .ConnexionModalPassword {
        padding: 17px 0;
        color: white;
        font-size: 16px;
    }
}

.containerPassword2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px 50px;
    align-items: center;
    margin-bottom: 30px;

    #mail {
        width: 70%;
        height: 30px;
        padding-left: 12px;
        color: $colorbackground;
        font-size: 14px;
        margin-bottom: 20px;
        border:1px solid #d3d3d3;
    }

    .buttonPassword {
        width: 74%;
        height: 33px;
        padding-left: 12px;
        color: white;
        font-size: 14px; 
        background: linear-gradient(to right, #40dddf 0%,#3aced9 50%,#35c1d4 100%);;
        border:1px solid $colorBackgroundModal;
        cursor: pointer;
    }

    .buttonPassword2 {
        width: 74%;
        height: 33px;
        padding-left: 12px;
        color: $colorBackgroundModal;
        font-size: 14px; 
        border: 1px inset $colorBackgroundModal;
        box-shadow: 0.5px 0.5px 0.5px 0.5px $colorBackgroundModal;
        cursor: pointer;
    }
}
