$colorbackground: #2C404D;
$colorBackgroundModal: #45adcd;


.modalLogin {
    display: none;
}

.modalLogin--is-open {
    display: block;
    border: 1px inset $colorBackgroundModal;
    box-shadow: 0px 2px 2px 2px $colorBackgroundModal;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    color: black;
    background-color: white;

}

.containerLogin {
    display: grid;
    grid-template-columns: 94% 3% 3%;
    grid-template-rows: 50px ;
    align-items: center;
    background-color: $colorBackgroundModal;

    button {
        border: none;
        margin-left: -5px;
        border-radius: 3px;
    }

    button:hover {
        background-color: $colorBackgroundModal;
        border: solid $colorBackgroundModal;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .divButtonModalLogin{
        margin-top: -25px;
    }

    .ConnexionModalLogin {
        padding: 17px 0;
        color: white;
        font-size: 16px;
    }
}

.containerLogin2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px 50px 30px 40px 40px 60px 60px 10px ;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 35px;

    .LoginInput {
        width: 70%;
        height: 30px;
        padding-left: 12px;
        color: $colorbackground;
        font-size: 14px;
        margin-bottom: 20px;
        border:1px solid #d3d3d3;
        
    }
    .LoginChecbox input {
        margin-right: 10px;
    }

    .LoginChecbox {
        font-size: 12px;
        margin-bottom: 40px;
    }

    .CgvLogin {
        font-size: 11px;
        color: gray;
        margin: 0 30px;
        text-align: start;
        border-block-start: solid rgba(177, 176, 176, 0.301) 2px;
    }

    .buttonLogin1 {
        border: solid $colorBackgroundModal 1px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px $colorBackgroundModal;
        width: 74%;
        height: 33px;
        padding-left: 12px;
        color: $colorBackgroundModal;
        font-size: 14px; 
    }
    .buttonLogin2 {
        width: 74%;
        height: 33px;
        color: white;
        font-size: 14px; 
        background-image: linear-gradient(to right,  #ee9d519f, #ee5e51);
        margin-bottom: 15px;
        margin-right: 16px;
    }

    .pGoogleButton span {
        color: white;
        position: relative;
        left: 65px;
        top: 3px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
    }

    .buttonLogin1:hover, .pGoogleButton:hover{
        opacity: 0.6;
    }

    .pOuLogin {
        color: gray;
    }

    .LoginToTheSite span {
        color:  $colorBackgroundModal;
        cursor: pointer;
      
    }

    .LoginToTheSite span:hover {
        opacity: 0.6;  
        text-decoration: underline;
    }

    .LoginToTheSite {
        color: gray;
        font-size: 14px;
    }
}

