$colorButton: #5dd8dc;

.container_nav {
    align-items: center;
    background-color: #2C404D;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    border-block-end: solid #1BA2A2;

    .containerNavLeft {
        align-items: center;
        display: flex;
        width: 55%;
        
        .divLogoTripitto  {
            width: 20%;
            text-align: center;
        }
        
        .Search {
            position: relative;
            width: 30%;
                
            .inputNav {
                background-color: #2C404D;
                border-image:linear-gradient(to right, #3ab9c0 0%,#2d9db9 50%,#208abf 100%);
                border-image-slice: 1;
                border-width: 2px;
                color: white;
                height: 30px;
                position: relative;
                width: 100%;
                padding-left: 5%;
                font-size: 12px;
            }
            
            .icone-loupe {
                position: absolute;
                height: 20px;
                right: 20px;
                top: 10px;
            }

        }
    
        .ulNav {
            color: white;
            display: flex;
            justify-content: space-around;
            list-style: none;
            width: 30%;
           
            .li-videaste{
              margin-top:3.7vh;
            }
        }
    }
.ulNav a {
    color: white;
    font-weight: bold;
    font-family: 'Robotoregular';
    font-size: 1vw;
    text-decoration: none;

}

.ulNav a:hover {
    opacity: 0.6;
}

.divLogoTripitto a:hover{
    opacity: 0.6;
}

.Ulbutton .buttonNavbar:hover {
    opacity: 0.6;
}
    
.button_video{
    height: 10vh;
    border:none;
    background:none;
}
        .containerNavRight {
            position: relative;
            width: 20%;
            padding-right: 3%;
            
            
            ul{
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                list-style: none;
                 position: relative;
                 .img_profil{
                     cursor:pointer;
                 }
                .img_profil:hover .Sous_nemu{ 
                 display: block;
                    }
                .Sous_nemu{
                    list-style: none;
                    display: none;
                    background-color: white;
                    position: absolute;
                    
                    right:13vw;
                    width:180px;
                    height:205px;
                    border:1px solid #1BA2A2;
                    padding-top: 20px;
                    padding-left:20px;
                    z-index:2;
                    li{
                   
                        padding-bottom:40px;
                        padding-right:10px;
                       
                        .link_DropDown{
                            text-decoration: none;
                            color:#333333;  
                             &:hover{
                              color:#5dd8dc;
                          }
                        }
                        .btn-deconnection{
                             border:none;
                             padding-top:20px;
                             padding-bottom:20px;
                             margin-left:15px;
                             color:red;
                             font-weight: normal;
                             cursor:pointer;
                        }
                    }
                    .li-btn-off{
                        background-color:#eeeeee;
                        margin-left:-1vw;
                        padding-bottom:0;
                        margin-top:-3vh;
                    }
                
                } 
                 
            }
            
            
            .logoAvatar {
                border-radius: 50%;
                height: 33px;
            }

            .notification {
                height: 20px;
                margin-left: 2px;
            }
            .buttonNavbar {
                background-color: $colorButton;
                color: white;
                font-size: 16px;
                padding: 9px 25px;
                border: none;
                cursor:pointer;
            }
            .buttonNavbarChange {
                background-color: #2C404D;
                border-image:linear-gradient(to right, #3ab9c0 0%,#2d9db9 50%,#208abf 100%);
                border-image-slice: 1;
                border-width: 2px;
                box-shadow: 0.3px 0.3px 0.3px 0.3px #1BA2A2;;
                color: $colorButton;
                font-size: 16px;
                padding: 8px 25px;
                cursor:pointer;  
            }
            
            button.buttonNavbarConnexion {
                border: none;
                box-shadow: 0.3px 0.3px 0.3px 0.3px #1BA2A2;
                color: white;
                position: relative;
                background-color: $colorButton;
                font-size: 16px;
                padding: 8.5px 12px;
                right: 60px;
                width: 130%;
                cursor:pointer;
            }
                .buttonNavbarConnexionNone{
                    display: none;
                } 
        }
    }
    

 

/********************** DROPDOWN ***************/

.containerNavLeft .ulNav ul{

    background-color: #2C404D;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    transition: all 0.05s ease-in-out;
  }
  
  .containerNavLeft li:hover .ul_list  {
    top: 11.55vh;
    left:2.75vw;
    opacity: 1;
    visibility: visible;
    padding: 8vh 40.2vw;
    align-items: center;
    display: flex;

        li .list_afrique .list_asieoceanie .list_europe .list_autres .list_amerique{
            list-style: none;
            margin-top: -40vh;
            color:#55949c;
            a{
                font-size: 12px;
                font-family: 'Roboto';
            }
        }
        li{
            list-style: none;
            width:19.5vw;
            text-align:center;
        }
         .list_afrique, .list_asieoceanie,.list_europe, .list_autres, .list_amerique  {
            font-size:16px;
            color:#55949c;
            align-items: center;
            margin-top:9%;
        }
        p:hover{
            font-size:16px;
            color:white;
            background-color: #55949c;
            padding-left:-10vw;
            width: 60%;
            margin-left:20%;
        }
        .container_list{
            display: flex;
            justify-content: space-around;
            margin-top:-7vh;
            margin-left:-43vw;

        }
        .continent_name{
            font-size:18px;
        }
        .continent_name:hover{
            opacity: 0.6;
        }
        .button_countries{
            font-size:25px;
            font-weight: bold;
            color:#55949c;
            background:transparent;
            border:none;
            margin-right: auto;
            font-family: 'Roboto';
            
        }
  }

