.AutoriseContact{
    margin-left: 45vh;
  p{
font-size: 14px;
margin-top:0;

  }
  h3{
    margin-bottom:0;
  }
  .autorise-bloc-title{
      display:flex;
      flex-direction: row;
      margin-top:3px; 
    
      .autoriste-title{
        margin-top:5px;
         margin-left:7px;
      }
  }
}