
.container-display_video{
    img{
        cursor: pointer;
    }
.Modal_display_video{
  
    z-index: 1;
    position: absolute;
    width:100px;
    margin-left:1%;

          .affichage-block_display{
                display: block;
                text-align: center;
                background-color: white; 
                height:300px;
                width: 200px;
                position: absolute;  
                margin-left:  -5vw;        
} 

      .display-none{
    display: none;
}


.alerte_info_Hide{
    background-color: rgb(79, 191, 212);
    color:white;
    padding: 16px;
}
}
}
