.Modal_delete_video{
    position: absolute;
    width:500px;
    margin-left:12%;

.affichage-block{
 display: block;
    border: 1px inset blueviolet;
    box-shadow: 0px 2px 2px 2px blue;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    color: black;
    background-color: white; 
    height:400px;
    .display-none{
    display: none;
}
}   


}