
.container-modal_video{
    background-color: #f4F4F4;
      
        img{
            background-color: white;
            cursor: pointer;
        }

    .Modal_delete_video{
        // top: 50%;
        // left: 50%;
        // margin-top: -25px;
        // margin-left: -100px;
        // z-index: 1;
        // position: absolute;
        // width:500px;
        // margin-left:15%;
        // bottom: 15vh;
    
     
              .affichage-block{
                    display: block;
                    border: rgb(79, 191, 212) ;
                    box-shadow: 0px 1px 1px 1px  rgb(79, 191, 212);
                    text-align: center;
                    align-items: center;
                    margin-bottom: 5%;
                    color: black;
                    background-color: white; 
                    height:300px;
                    position: fixed;
                    top: 45%;
                    left: 45%;
                    margin-top: -25px;
                    margin-left: -100px;
    } 
          .display-none{
        display: none;
    }
   
    .alerte_info{
        background-color: rgb(79, 191, 212);
        color:white;
        padding: 16px;
    }

    P{
        padding: 0 40px 10px 30px;
        font-style: italic;
        font-size: 15px;
        color:rgb(83, 99, 110);
        width: 32vw;
        justify-content: center;
    }


    input{
    border:1px solid rgb(206, 212, 218);
    padding: 10px;
    width: 17vw;
    margin-bottom:4vh;
    }

    .buttons_confirmer_annuler{
        display:flex;
        flex-direction: row;
        margin-left: 8.2vw;
        .button_confirmer{
             cursor: pointer;
        padding:10px;
        width: 100px;
        margin-right:30px;
        border:1.5px solid #f86959;
      button{
        background-color: white;
       color:#f86959; 
    }

        }

        .button_annuler {
            margin-right:3vh;
            padding:10px;
            width: 100px;
            border:1px solid #34bed3;
            background:none;
            cursor: pointer;
            button{
                background-color: white;
                 color:#34bed3;
                 
            }
        }
      
    }
    
    
    }
}
