.Profil_inscription{
background-color: rgb(244, 244, 244);
margin-left: 45vh;

     .Profil_Pictures{
          cursor: pointer;
            text-align: center;
            height: 12em;

            display: flex;
            margin-right: 24Vh;
 
              p{
                   padding-right:20px;
                   
              }
}  


}