.PostBioProfil{
    background-color: rgb(244, 244, 244);
    margin-left: 45vh;

    .Bio {
        textarea{
            width: 70%;
            height: 150px;
            padding:10px;
            border:1px solid #d3d3d3;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:15px;
        }
    }

    
   

 
}