.VideoProfilCompnent{
  background-color: #f4F4F4;
  margin:0;

.position-bloc{
   .grid-profil-info{
      .filter{
          margin-left: -20vh;
          margin-top: 7vh;
       .w3-select{ 
           width: 1vh;
            border:12px;
           background-color: #f4F4F4;
         
            }   
           }
           //searsh
             .searsh{
     
                      }

      }

/*Resize the wrap to see the search bar change!*/
    } 
    .list_videos{ 
          margin-left: 40vh;
              .video_user1{
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  background-color:rgb(249, 249, 249);
                  width: 381px;
                  border: 15px  rgb(229, 229, 229);
                     
               .status_durée{
                 position: relative;
                 bottom: -1vh;
                 left: 1vw;
                 font-style: italic;
                 font-size: 14px;
                    .status1{
                  background-color:black;
                  width: 50%;
                      .status{
                         color:rgb(219, 156, 58);
                         text-align: center;

                          }
               }    
               .durée1{
                  margin-left: 36vh;
                  margin-top: -4vh;
                  background-color:black;
                  width: 18%;
                    .durée{
                      color:white;
                      text-align: center; 
                   }
               } 
              }
              .imagescreen{
                margin-top: -5vh;
                img{
                  height: 230px;
                  width: 381px;
                }
              }
                  .infos{
                    font-style: italic;
                    color:rgb(168, 168, 168);
                    font-size: 15px;
                    margin-left: 2vh;
                    margin-top: -2vh;
                   display:flex;
                   flex-direction: row;
                   
                   .A{
                    padding-right:2vh 
                   }
                   .B{
                     font-size: 45px;
                     color:black;
                    padding-right:2vh;
                    margin-top: -13px;
                   }
                   .C{

                    padding-right:12vh 
                   }
                   
                   .D{
                    margin-top: -1vh;
                   } 
               }

               .countery{
                margin-left: 2vh;
                .countery_p{
                 color:rgb(71, 77, 82)
                }

               }
               .icons_video{
                  border: 1px solid rgb(221, 221, 221);
                 .img1{
                    padding-right:3vh ;
                 }
                 .img2{
                  padding-right:3vh ;
               }
               .img3{
                padding-right:3vh ;
              }
    
                
               }
               
              }

          }
    
  }


