.VideoProfilCompnent{
    background-color: #f4F4F4;
    margin:0;

 .position-bloc{
     .grid-profil-info{
        .filter{
            margin-left: -20vh;
            margin-top: 7vh;
         .w3-select{ 
             width: 12vh;
              border:12px;
             background-color: #f4F4F4;
           
              }   
             }
             //searsh
               .searsh{
       
                        }

           

        }

  /*Resize the wrap to see the search bar change!*/
      } 
      .list_videos{ 
            margin-left: 40vh;
                .video_user1{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    background-color:white;
                    width: 400px;
                    border: 15px  rgb(229, 229, 229);
                      .V{
                        width: 100%;
                        height: 100%;
                       } 
                       
                 .status_durée{
                      .status1{
                    
                    background-color:black;
                    width: 50%;
                        .status{
                           color:rgb(219, 156, 58);
                            margin-left:6px;
                            }

                 }     
                    
                 .durée1{
                    margin-left: 40vh;
                    margin-top: -4vh;
                    background-color:black;
                    width: 18%;
                      .durée{
                        color:white;
                        margin-left:6px; 
                       
                     }

                 }  
                }
                  
                    
                 
                }

            }
      
    }


 
 