.VideoProfilCompnent{
    background-color: #f4F4F4;
    margin:0;

 .position-bloc{
     .grid-profil-info{
        .filter{
            margin-left: -20vh;
            margin-top: 7vh;
         .w3-select{ 
             width: 12vh;
              border:12px;
             background-color: #f4F4F4;
           
              }   
             }
             //searsh
      .wrap{
       

            }
        }

  /*Resize the wrap to see the search bar change!*/
 
      }
      
    }


 
 