.container_three{
    display: flex;
    justify-content: space-around;
}

.tr{
    width:90%;
}

.all{
    width:40%;
}

.container_all{
    background-color: #F4F4F4;
}

.allVideoUser{
    display: flex;
    margin-top: 5%;
    
}

.containerAllVideoUser{
    margin-left: 5%;

}

