.container_three{
    display: flex;
    justify-content: space-around;
}

.tr{
    width:70%;
}

.all{
    width:30%;
    padding-right: 1%;
} 


.container_all{
    background-color: #F4F4F4;
}

.contvid{
    display: flex; 
    
}

.youtubeVid{
    padding-right: 4%;
    
}

.containerAllVideoUser{
    margin-left: 5%;
}

.accomodation{
    width: 100%;

}

.buttonCommentVid{
    background-color: white;
    width: 100%;
    padding:2%;
    text-align: center;
    color:#59cce0;
    font-size: 12px;
    border: 2px solid #59cce0;
}

.commentButtonVideo{
    width:100%;
    margin-top: 3%;
    
}

.buttonCommentVid:hover{
    background-color:#59cce0;
    width: 100%;
    padding:2%;
    text-align: center;
    color:white;
    font-size: 12px;
    border: 2px solid #59cce0;
}

.title_vid{
   
    font-weight: 500;
    font-size:15px;
    color: #26434E;

}