/* style of the Upload page / travel_information*/


@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}


input {
  border-radius: 5px;
}


/* Grid template start */

.grid_postInformation {
  background-color: #F4F4F4;
  display: grid;
  grid-template-columns: 15% 5% 15% 15% 15% 15% 20%;
  grid-template-rows: 15% 15% 15% 15% 15% 10% 15%;
}


/* Style of the page */


.uploadVideoCard {
  grid-column: 1;
  grid-row: 1 / span 3;
  margin-top: 2vh;
  margin-left: 5vw;
  box-shadow: 10px 5px 5px grey;
}



/***********************/


.AboutVideo2 {
  grid-row: 1;
  grid-column: 4;
  margin-top: 10%;
  margin-left: 5vw;
}


.continent {
  margin-left: 30%;
  grid-row: 2;
  grid-column: 3;
}
.input-continent {
  width: 15vw;
  height: 5vh;


}


.country {
  grid-row: 2;
  grid-column: 4 / span 5;
  margin-left: 15%;
  margin-top: 2.2vh;
}
.input-country {
  width: 15vw;
  height: 5vh;
}

.moreCountry {
  grid-row: 2;
  grid-column: 6;
  margin-top: 5%;

}
.world {
  grid-row: 2;
  grid-column: 6;
  margin-top: 5vh;

}



/***********************/

.title-month {
  grid-row: 3;
  grid-column: 3;
  margin-left: 30%;
  margin-bottom: 5vh;
}
.month {
grid-row: 4;
grid-column: 3;
margin-left: 30%;
margin-top: -9vh;
}
.input-month {
  width: 15vw;
  height: 4vh;
  border:1px solid #d3d3d3;
}


.title-duration {
  grid-row: 3;
  grid-column: 5;
  margin-left: -35%;
}
.duration {
  grid-row: 4;
  grid-column: 5;
  margin-left: -35%;
  margin-top: -9vh;
}
.input-duration {
  width: 4vw;
  height: 4vh;
  border:1px solid #d3d3d3;
}
.input-duration:focus{
  background:#e9eff1;
  border:1px solid #30b1ce;
}
.day {
  grid-row: 4;
  grid-column: 5;
  margin-top: -9vh;
  margin-left: 5%;
}


/***********************/



.step {
  grid-row: 6;
  grid-column: 3 / span 4;
  margin-left: 6.4%;
}





/***********************/


.budget {
  grid-row: 7;
  grid-column: 3;
  margin-left: 30%;
  width: 11vw;
}

.euros {
  grid-row: 7;
  grid-column: 3;
  margin-top: 15%;
  margin-left: 28%;
}

.dollar {
  grid-row: 7;
  grid-column: 3;
  margin-top: 15%;
  margin-left: 70%;
}


.title-accomodation{
  grid-row: 7;
  grid-column: 4;
  margin-top: 11%;
  margin-left: 30%;
}
.accomodation_information {
  grid-row: 7;
  grid-column: 5;
  margin-top: 17%;
  margin-left: -38%;
}
.input-accomodation {
  width: 3vw;
  height: 4vh;
  border:1px solid #d3d3d3;
  margin-top: -30px;
}
.input-accomodation:focus{
  background:#e9eff1;
  border:1px solid #30b1ce;
}

.title-activities {
  grid-row: 7;
  grid-column: 5;
  margin-left: 20%;
  margin-top: 12%;
}
.activities {
  grid-row: 7;
  grid-column: 5 / span 6;
  margin-left: 20%;
  margin-top: 5%;
}
.input-activities {
  width: 3vw;
  height: 4vh;
  border:1px solid #d3d3d3;
  margin-top:-30px;
  margin-left:10px;
}

.input-activities:focus{
  background:#e9eff1;
  border:1px solid #30b1ce;
}

/***********************/

.input-travel_type {
  width: 20px;
  height: 30px;
}

.title-type {
  grid-row: 8;
  grid-column: 3 / span 5;
  margin-left: 6%;
}


.travel_type {
  align-items: center;
  background-color: white;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  display: flex;
  grid-column: 3;
  grid-row: 9;
  height: 5vh;
  justify-content: center;
  margin-left: 30%;
  width: 15vh;
  z-index: 1;
}
.travel_type p {
  font-size: 1rem;
}
.travel_type.selected {
  border: solid 1px blue;
}



.travel_type2 {
  align-items: center;
  background-color: white;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  display: flex;
  grid-column: 4;
  grid-row: 9;
  height: 5vh;
  justify-content: center;
  margin-left: -5%;
  width: 15vh;
  z-index: 1;
}
.travel_type2 p {
  font-size: 1rem;
  z-index: 1;
}
.travel_type2.selected {
  border: solid 1px blue;
}


.travel_type3 {
  align-items: center;
  background-color: white;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  display: flex;
  grid-column: 5;
  grid-row: 9;
  height: 5vh;
  justify-content: center;
  margin-left: -40%;
  width: 15vh;
  z-index: 1;
}
.travel_type3 p {
  font-size: 1rem;
}

.travel_type4 {
  align-items: center;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  display: flex;
  grid-column: 6;
  grid-row: 9;
  height: 5vh;
  justify-content: center;
  margin-left: -75%;
  width: 15vh;
  z-index: 1;
}
.travel_type4 p {
  font-size: 1rem;
}



/***********************/


.fk-video {
  grid-column: 3;
  grid-row: 10;
  margin-left: 27%;
  margin-bottom: 10%;
  padding-bottom: 20%;
}
.fk-continent {
  grid-column: 4;
  grid-row: 10;
  margin-left: 27%;
  margin-bottom: 10%;
  padding-bottom: 20%;
}

/* ********************** */

.save_button {
  grid-row: 9;
  grid-column: 5;
}
.save {
  border-image:linear-gradient(to right, #3fdadd 0%,#2fb1ce 50%,#2d90c2 100%);
  border-image-slice:1;
  border-width: 2px;
  color: #00C9D4;
  height: 4vh;
  margin-top: 42%;  
  width: 8vw;
  cursor: pointer;
}


.preview_div_info {
  grid-row: 9;
  grid-column: 6;
}
.preview {
  border-image:linear-gradient(to right, #3fdadd 0%,#2fb1ce 50%,#2d90c2 100%);
  border-image-slice:1;
  border-width: 2px;
  color: #00C9D4;
  height: 4vh;
  margin-left: -40%; 
  margin-top: 11.8vh;
  width: 8vw;
}


.next_div_info {
  grid-row: 9;
  grid-column: 7;
}
.next {
  background-color: #00C9D4;
  color: white;
  height: 4vh;
  margin-left: -60%; 
  margin-top: 11.8vh; 
  width: 8vw;
  border:1px solid #00C9D4;
  cursor: pointer;
}