body {
  margin: 0;
  padding: 0;
}

.grid > div {
  background-color: #ccc;
  border: solid 1px #999;
}
.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 15% 5% 20% 20% 20% 15%;
  grid-template-rows: 10% 10% 20% 5% 15% 5% 15% 20%; 
  min-height: 100vh;
  grid-auto-rows: minmax(100px, auto);
  
}

input {
  border-radius: 5px;
}

.empty {
  grid-column: 1 / 7; 
}

.upload-link {
  grid-row: 3 / 5;
}


.title {
  grid-row: 2;
  grid-column: 3 / 6;
  padding-left: 5%;
}

.input-title {
  width: 70%;
}

.description {
  grid-row: 3;
  grid-column: 3 / 6;
  padding-left: 5%;
}

.input-description {
width: 70%;
}

.title-equipment1 {
  grid-row: 4;
  grid-column: 3;
}

.equipment1 {
  grid-row: 5;
  grid-column: 3;
}

.title-link1 {
  grid-row: 6;
  grid-column: 3;
}

.link1 {
  grid-row: 7;
  grid-column: 3;
}



.title-equipment2 {
  grid-row: 4;
  grid-column: 4;
}

.equipment2 {
  grid-row: 5;
  grid-column: 4;
}

.title-link2 {
  grid-row: 6;
  grid-column: 4;
}

.link2 {
  grid-row: 7;
  grid-column: 4;
}




.title-equipment3 {
  grid-row: 4;
  grid-column: 5;
}

.equipment3 {
  grid-row: 5;
  grid-column: 5;
}

.title-link3 {
  grid-row: 6;
  grid-column: 5;
}

.link3 {
  grid-row: 7;
  grid-column: 5;
}



.cover-picture {
  grid-row: 8;
  grid-column: 3;

}

.temp {
  grid-row: 8;
  grid-column: 6;
}

.submit {
  grid-row: 8;
  grid-column: 5;
}