/* Style of upload page with grid  */

/* style of all the page */

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

/* p {
  font-family: 'Roboto-Medium';
} */


input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  resize:none;
}



/* Grid template start */

.grid_postVideo {
  background-color: #F4F4F4;
  display: grid;
  grid-template-columns: 15% 5% 20% 20% 20% 15%;
  grid-template-rows: 15% 15% 10% 10% 10% 10% 10% 10% 10%;
}



/* Grid and style for elements */

.empty {
  grid-column: 2 / 7; 
}



.upload-link {
  border: solid 2px;
  border-color: #ed6256;
  box-shadow: 10px 5px 5px grey;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  padding-left: 15%;
  margin-top: 15%;
  margin-left: 10%;
  height: 45vh;
}
.input-upload{
  width: 80%;
  margin-left: 0;
}
.uploadIconVideo {
  padding-top: 10%;
  padding-left: 35%;
}





.title {
  grid-row: 1;
  grid-column: 3 / 6;
  padding-left: 5%;
  margin-top: 10%;
}
.input-title {
  width: 93%;
  height: 25%;
}


.description {
  grid-row: 2;
  grid-column: 3 / 6;
  padding-left: 5%;
  margin-top: 2%;
}
.input-description {
  width: 93%;
  height: 100px;
}
.input-description {
resize: none;
}




.title-equipment1 {
  margin-left: 14%;
  grid-row: 3;
  grid-column: 3;
}

.equipment1 {
  grid-row: 4;
  grid-column: 3;
  margin-left: 14%;
  height: 10vh;
}
.input-equipment {
  height: 40%;
  width: 80%;
}
.title-link1 {
  margin-left: 14%;
  grid-row: 5;
  grid-column: 3;
}
.link1 {
  grid-row: 6;
  grid-column: 3;
  margin-left: 14%;
  margin-bottom: 3vh;
}
.input-link {
  height: 2vh;
  width: 80%;
}





.title-equipment2 {
  grid-row: 4;
  grid-column: 4;
}
.equipment2 {
  grid-row: 4;
  grid-column: 4;
  margin-left: 5%;
}
.input-equipment2 {
  height: 40%;
  width: 80%;
}
.title-link2 {
  grid-row: 5;
  grid-column: 4;
  margin-left: 4%;
}
.link2 {
  grid-row: 6;
  grid-column: 4;
  margin-left: 4%;
}
.input-link2 {
  height: 2vh;
  width: 80%;
}





.title-equipment3 {
  grid-row: 4;
  grid-column: 5;
}
.equipment3 {
  grid-row: 4;
  grid-column: 5;
}
.input-equipment3 {
  height: 40%;
  width: 80%;
}
.title-link3 {
  grid-row: 5;
  grid-column: 5;
}
.link3 {
  grid-row: 6;
  grid-column: 5;
}
.input-link3 {
  height: 2vh;
  width: 80%;
}





.cover-picture {
  align-items: center;
  border: dashed 2px;
  border-color: #4999c6;
  box-shadow: 10px 5px 5px grey;
  display: flex;
  flex-direction: column;
  grid-row: 7;
  grid-column: 3;
  height: 25vh;
  width: 70%;
  margin-left: 14%;
}
.cover-picture img {
  margin-top: 5vh;;
}
.input-cover {
  width: 60%;
}


.temp {
  grid-row: 7;
  grid-column: 4;
  margin-left: 4%;
}

.submit-div {
  align-items: center;
  display: flex;
  grid-row: 8;
  grid-column: 4;
  height: 4vh;
  justify-content: center;
  margin-left: 50%;
  margin-right: 14%;
  min-width: 40%;
  padding-left: 50%;
}
.submit-button {
  background-color: #00C9D4;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}

.next-div {
  align-items: center;
  display: flex;
  grid-row: 8;
  grid-column: 5;
  height: 4vh;
  justify-content: center;
  margin-left: 50%;
  margin-right: 14%;
  min-width: 40%;
}
.next-button {
  border-color: #00C9D4;
  color: #00C9D4; 
  height: 90%;
  width: 90%;
}

