.profilpic {
    overflow:hidden;
    border-radius:50%;
    width:140px;
    height:140px;
}

.global_part_1 {
    width: 83vw;
    margin: 60px auto 0;
    justify-content: space-between;
    display: flex;
    border-bottom:1px solid grey;
    padding-bottom: 30px;
}

/* Profil columns */

.profil_column_1 {
    padding-top: 12px;
    text-align: center;
    color: #344854;
    font-family: 'Roboto', sans-serif;
}

.profil_column_2 {
    padding-left: 3vw;
    /* padding-right: 6vw; */
}

.profil_column_3 {
    padding-top:16vh;
    padding-left: 2vw;
}

.identity {
    display: flex;
}
.name {
    padding-right: 2vw;
    margin-bottom:0;
}
.span {
    padding-right: 2vw;
    padding-top: 2vh;
    font-size: 35px;
}
.traveler_type {
    padding-top: 1vh;
    /* margin: 70px auto 0; */

}
.localisation {
    margin: 0;
}
.iconlocalisation {
    width: 12px;
    padding-right: 1vw; 
}
.icon_general {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* .iconitem {
    /* margin-right: 4vw;
    border-radius:50%;
    padding : 12px;
    box-shadow: 1px 1px 4px #1BA2A2; */

.iconProfil {
    width: 35px;
    margin-right: 4vw;
    border-radius:50%;
    padding : 15px;
    box-shadow: 1px 1px 4px #1BA2A2;
}
.bio {
    font-size:90%;
    margin-right: 70px;
    padding-bottom: 4vh;
}

 /* .generalprofil {
     width: 100%;
     height: 2000px;
  } */

.videocover {
    width: 50%;
    height: 50%;
}

.texticonaventurier {
    opacity:0;
}

.iconaventurier:hover .texticonaventurier {
    visibility: visible;
    border: #344854;
    opacity:1;
    color: #1BA2A2;
}

.texticonmountain {
    opacity:0;
}

.iconmountain:hover .texticonmountain {
    visibility: visible;
    border: #344854;
    opacity:1;
    color: #1BA2A2;
}

.texticonmusic {
    opacity:0;
}

.iconmusic:hover .texticonmusic {
    visibility: visible;
    border: #344854;
    opacity:1;
    color: #1BA2A2;
}

.texticonplant {
    opacity:0;
}

.iconplant:hover .texticonplant {
    visibility: visible;
    border: #344854;
    opacity:1;
    color: #1BA2A2;border-bottom: 1px solid #1BA2A2;
}

.texticonculture {
    opacity:0;
}

.iconculture:hover .texticonculture {
    visibility: visible;
    border: #344854;
    opacity:1;
    color: #1BA2A2;
}

.social_general {
    display: flex;
    flex-direction: row; 
}

/* .social {
    margin-left: 1vw;

} */
.social {
    margin-left: 17px;
    width: 25px; 
}

.buttonprofil {
    display: flex;
    flex-direction: column;
    }

.buttonmessage {
    margin-top: 5vh;
    width: 180px;
    display: inline-block;
    text-align: center;
    padding: 8px 20px;
    color: #1BA2A2;
    background-color: rgb(255, 255, 255); /* Green */
    border: 1px solid ;

}

.buttonmodifyprofil {
    margin-top: 2vh;
    width: 180px;
    display: inline-block;
    text-align: center;
    padding: 8px 20px;
    background-image: linear-gradient(to right, #64dada 30%, #2e96a3 100%);
    color: white;
    border: none;

}

.continents {
    display:flex;
    flex-direction: row;
    width: 30vw;
    margin: 30px auto 0;
    justify-content: space-between;
}

.itemcontinent:active {
    border-bottom: 1px solid #1BA2A2;
}

.filter{
    margin-left: 9vw;
    margin-top: 5vh;  
}
.w3-select{ 
        border:12px;
        background-color: #f4F4F4;
        width: 77px;
        }   


    /* /css bloc description */

 
    .container_blocs_description{
        padding-bottom: 4vh;
        display: flex;
        flex-direction: row;

    }
.bloc_description{
 margin-left: 10vw; 
position: relative;
left: 1vw;  
 }

 .durée_pourcentage{
     position: relative;
     bottom: -7vh;
     left:2vw;
    display: flex;
    flex-direction: row;
 }

 .durée_description{
     background-color:black;
     color:white; 
     width: 4vw;
     text-align: center;
     margin-left: 23vw; 
 }

 .pourcentage_description{
    background-color:black;
    color:rgb(10, 194, 72); 
    width: 3vw;
    text-align: center;
 }
.picture_description img{
    width: 33vw;
    height: 37vh; 
}
.infos_Profil_description{
    margin-top: -4vh;
    display: flex;
    flex-direction: row;
}
.pays_description{
    padding-right: 12px;

}
.nb_vues_description{
    padding-right: 12px;
    color:rgb(158, 158, 158);
}
.Point_description{
margin-top:-1vh;
font-size: 40px;
 padding-right: 12px;
}

.durée_description{
    color:rgb(158, 158, 158); 
}
.name-personne{
    margin-top:-7vh;
}

       

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
