.profilpic {
    overflow:hidden;
    border-radius:50%;
    width:140px;
    height:140px;
}

.profil_column_1 {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: center;
}

// .container {
//     display: grid | inline-grid;
//   }