$colorButton: #5dd8dc;

.container_nav {
    align-items: center;
    background-color: #2C404D;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    border-block-end: solid #1BA2A2;

    .containerNavLeft {
        align-items: center;
        display: flex;
        width: 55%;
        
        .divLogoTripitto  {
            width: 20%;
            text-align: center;
        }
        
        .Search {
            position: relative;
            width: 30%;
                
            .inputNav {
                background-color: #2C404D;
                border: solid #1BA2A2;
                color: white;
                height: 30px;
                position: relative;
                width: 100%;
                padding-left: 5%;
                font-size: 12px;
            }
            
            .icone-loupe {
                position: absolute;
                height: 20px;
                right: 20px;
                top: 10px;
            }
        }
    
        .ulNav {
            color: white;
            display: flex;
            justify-content: space-around;
            list-style: none;
            width: 30%;
        }
    }
.ulNav a {
    color: white;
    font-weight: bold;
    font-family: 'Robotoregular';
    font-size: 1vw;
    text-decoration: none;
}

.ulNav a:hover {
    opacity: 0.6;
}

.divLogoTripitto a:hover{
    opacity: 0.6;
}

.Ulbutton .buttonNavbar:hover {
    opacity: 0.6;
}
    

        .containerNavRight {
            position: relative;
            width: 20%;
            padding-right: 3%;
            
            
            ul {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                list-style: none;
            }
            
            .logoAvatar {
                border-radius: 50%;
                height: 33px;
            }

            .notification {
                height: 20px;
                margin-left: 2px;
            }
            .buttonNavbar {
                background-color: $colorButton;
                color: white;
                font-size: 16px;
                padding: 9px 25px;
                border: none;
            }
            .buttonNavbarChange {
                background-color: #2C404D;
                border: solid 1px #1BA2A2;
                box-shadow: 0.3px 0.3px 0.3px 0.3px #1BA2A2;;
                color: $colorButton;
                font-size: 16px;
                padding: 8px 25px;
            }
            
            button.buttonNavbarConnexion {
                border: none;
                box-shadow: 0.3px 0.3px 0.3px 0.3px #1BA2A2;
                color: white;
                position: relative;
                background-color: $colorButton;
                font-size: 16px;
                padding: 8.5px 12px;
                right: 60px;
                width: 130%;
            }
                .buttonNavbarConnexionNone{
                    display: none;
                } 
        }
    }


    .dropdown-menu:hover{
        transform: scale(1.19);
        transition: 1s;
    }


 

/********************** test ***************/

.containerNavLeft .ulNav ul{

    background-color: #2C404D;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    transition: all 0.25s ease-out;
  }
  
  .containerNavLeft li:hover .ul_list  {
    top: 9.25vh;
    left:2.75vw;
    opacity: 1;
    visibility: visible;
    padding: 8vh 40.2vw;
    align-items: center;
    display: flex;

        li .list_afrique .list_asieoceanie .list_europe .list_autres .list_amerique{
            list-style: none;
            margin-top: -40vh;
            color:#55949c;
            a{
                font-size: 12px;
                font-family: 'Roboto';
            }
        }
        li{
            list-style: none;
            width:19.5vw;
            text-align:center;
        }
         .list_afrique, .list_asieoceanie,.list_europe, .list_autres, .list_amerique  {
            font-size:16px;
            color:#55949c;
            align-items: center;
            margin-top:9%;
        }
        p:hover{
            font-size:16px;
            color:white;
            background-color: #55949c;
            background-position: bottom 50px right 100px;
            padding:0.5vw;
            padding-left:-10vw;
            width: 60%;
            margin-left:20%;
        }
        .container_list{
            display: flex;
            justify-content: space-around;
            margin-top:-7vh;
            margin-left:-43vw;

        }
        .continent_name{
            font-size:18px;
        }
        .button_countries{
            font-size:25px;
            font-weight: bold;
            color:#55949c;
            background:transparent;
            border:none;
            margin-right: auto;
            font-family: 'Roboto';
            
        }
  }


////////////////// TESTTTT  //////////////



// .containerNavLeft .ulNav ul{
//     background-color: #2C404D;
//     box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
//     position: absolute;
//     margin-top:5.5vh;
//     margin-left:-50vw;
//     z-index: 10;
//     opacity: 1;
//     visibility: hidden;
//     transition: all 0.5s ease-out;
//   }
  
//   .containerNavLeft li:hover .ul_list  {
//     opacity: 1;
//     visibility: visible;
//     align-items: center;
//     width: 92vw;
//     margin-left:-30vw;

//         li .list_afrique .list_asieoceanie .list_europe .list_autres .list_amerique{
//             list-style: none;
//             a{
//                 font-size: 12px;
//                 font-family: 'Roboto';
//             }
    
//         }
//         li{
//             list-style: none;
//             text-align:center;
//         }
//         p{
//             font-size:16px;
//             color:#55949c;
//         }
//         .container_list{
//             display: grid;
//             grid-template-columns:18vw 18vw 18vw 18vw 18vw ;
//             grid-template-rows: 26vh;
//             grid-auto-flow: row;
//             margin-left: -5vw;

//         }
//         .continent_name{
//             font-size:18px;
//         }
//         .button_countries{
//             font-size:25px;
//             font-weight: bold;
//             color:#55949c;
//             background:transparent;
//             border:none;
//             font-family: 'Roboto';
//         }
//   }