$colorButton: #5dd8dc;

.container_nav {
    align-items: center;
    background-color: #2C404D;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    border-block-end: solid #1BA2A2;

    .containerNavLeft {
        align-items: center;
        display: flex;
        width: 55%;
        
        .divLogoTripitto  {
            width: 20%;
            text-align: center;
        }
        
        .Search {
            position: relative;
            width: 30%;
                
            .inputNav {
                background-color: #2C404D;
                border: solid #1BA2A2;
                color: white;
                height: 30px;
                position: relative;
                width: 100%;
                padding-left: 5%;
                font-size: 12px;
            }
            
            .icone-loupe {
                position: absolute;
                height: 20px;
                right: 20px;
                top: 10px;
            }
        }
    
        .ulNav {
            color: white;
            display: flex;
            justify-content: space-around;
            list-style: none;
            width: 30%;
        }
    }
.ulNav a {
    color: white;
    font-weight: bold;
    font-family: 'Robotoregular';
    font-size: 0.85vw;
    text-decoration: none;
}

.ulNav a:hover {
    opacity: 0.6;
}

.divLogoTripitto a:hover{
    opacity: 0.6;
}

.Ulbutton .buttonNavbar:hover {
    opacity: 0.6;
}
    

        .containerNavRight {
            position: relative;
            width: 20%;
            padding-right: 2%;
            
            ul {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                list-style: none;
            }
            
            .logoAvatar {
                border-radius: 50%;
                height: 33px;
            }

            .notification {
                height: 20px;
                
            }
            .buttonNavbar {
                background-color: $colorButton;
                color: white;
                font-size: 16px;
                padding: 8px 25px;
                border: none;
            }
        }
    }


    .dropdown-menu:hover{
        transform: scale(1.19);
        transition: 1s;
      }



/* *********test */
// .navbar {
//     overflow: hidden;
//     background-color: #333;
//   }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    z-index: 1;
  }
  
  .dropdown {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: 1;
    
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c71515;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 140px 160px;
    margin-top:2.30%;
    z-index: 1;
    
  }
  
  .dropdown-content a {
    float: none;
    position: absolute;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    position: absolute;
    z-index: 1;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;

  }
